{% extends 'base.html' %}
{% block title %}Edit Port Area{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="p-4 shadow bg-white rounded" style="width: 400px;">
        <h2>Edit Port Area - {{ port.port_number }}</h2>
        <form method="POST" style="width: 50%;">
            <div class="form-group">
                <label>Area (sqm):</label>
                <input type="number" step="0.01" name="area" value="{{ port.area }}" required class="form-control">
            </div>
            <div class="form-group">
                <label>Surface Type:</label>
                <select name="kacha" class="form-control" required>
                    <option value="0" {% if not port.kacha %}selected{% endif %}>Kacha</option>
                    <option value="1" {% if port.kacha %}selected{% endif %}>Platform</option>
                </select>
            </div>
            <div class="form-group">
                <label>With Effect From: </label>
                <input type="date" name="from_date" required class="form-control" required><br>
            </div>
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</div>
{% endblock %}
